<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8" />
  <title>Search</title>
  <link rel="icon" href="/./public/img/google.ico" type="image/ico" sizes="32x32">
  <link rel="stylesheet" href="../../public/css/style.css">
</head>

<body>
  {{{body}}}
</body>

</html>