<div class="search__header">
  <div class="search__inner">
    <a href="/">
      <img class="search__header-image" src="img/expressjs.svg" alt="Express JS Logo">
    </a>
    <form action="/results" method="POST" class="search__header-form">
      <label class="search__header-label screenreader-only" for="site-search">Search the site:</label>
      <input class="search__header-input input-search" type="search" id="site-search" name="search">
      <button class="search__header-button button-search">Search</button>
    </form>
  </div>
</div>

<section class="search__result">
  <div class="search__result-inner">
    <span class="search__result-count">{{results.length}} search results were found</span>

    <ul class="search__result-list">
      {{#each results as |item|}}
      {{> result item=item}}
      {{/each}}
    </ul>
  </div>
</section>