/* global */

html {
  box-sizing: border-box;
}

body {
  font-family: 'Helvetica', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 14px;
  color: #5b5b5b;
  margin: 0;
}

h1,
h2 {
  font-size: 24px;
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 500;
}

ul {
  list-style: none;
  padding-left: 0;
}

a,
button {
  color: #4285f3;
}

a:hover,
button:hover {
  color: #1a0dab;
}

p {
  margin-top: 0;
  margin-bottom: 0;
}

/* input (search) */

.input-search {
  width: 90%;
  max-width: 400px;
  border-color: #c4c4c4;
  border: 1px solid #c4c4c4;
  height: 40px;
  background: #fff;
  box-shadow: none;
  border-radius: 24px;
  padding: 10px;
}

/* button (search) */

.button-search {
  width: 80px;
  background-color: #4285f3;
  border: 2px solid #4285f3;
  color: #fff;
  border-radius: 5px;
  padding: 10px;
}

.button-search:hover {
  background-color: #fff;
  color: #4285f3;
}

/* screenreader */

.screenreader-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0, 0, 0, 0);
}

/* search (main) */

.search {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
}

.search__image {
  width: 150px;
}

.search__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.search__input {
  margin-top: 20px;
}

.search__button {
  margin-top: 20px;
}

/* search (nav) */

.search__header {
  border-bottom: 1px solid #c4c4c4;
}

.search__inner {
  max-width: 1140px;
  margin: auto;
  padding: 20px;
  display: flex;
  align-items: center;
  flex-direction: row;
}

.search__header-image {
  width: 100px;
}

.search__header-form {
  display: flex;
}

.search__header-input {
  margin-left: 20px;
  margin-right: 20px;
}

/* search (result) */

.search__result {
  max-width: 1140px;
  margin: auto;
  padding-left: 20px;
  padding-right: 20px;
}

.search__result-inner {
  padding-left: 120px;
  padding-right: 120px;
}

@media only screen and (max-width: 810px) {
  .search__result-inner {
    padding-left: 0px;
    padding-right: 0px;
  }
}

.search__result-item {
  margin-top: 30px;
}

.search__result-text {
  margin-top: 10px;
}

.search__result-count {
  margin-top: 30px;
  display: inline-block;
}

.search__result-title-link {
  text-decoration: none;
}

.search__result-innerlist {
  display: flex;
  flex-wrap: wrap;
}

.search__result-inneritem {
  margin-right: 15px;
  margin-top: 5px;
}